html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}
.name{
    display:inline-flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 10px;
    background: rgb(217,227,95);
    background: linear-gradient(90deg, rgba(217,227,95,0.93015332197615) 0%, rgba(169,205,98,0.9403747870528109) 22%, rgba(21,203,124,0.9420783645655877) 100%);
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(15, 15, 15, 0.8);
}
.main{
    display:inline-flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width:auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 10px;
    background: rgb(217,227,95);
    background: linear-gradient(90deg, rgba(217,227,95,0.93015332197615) 0%, rgba(169,205,98,0.9403747870528109) 22%, rgba(21,203,124,0.9420783645655877) 100%);
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(15, 15, 15, 0.8);
}

h1 {
    font-size: 50px;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 23%, rgba(203,21,153,0.9931856899488927) 64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.head {
  font-size: 50px;
  margin-bottom: -5px;
  background: rgb(38,88,164);
background: linear-gradient(90deg, rgba(38,88,164,0.93015332197615) 0%, rgba(199,70,45,0.9420783645655877) 10%, rgba(72,9,143,0.9403747870528109) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h3 {
    font-size: 20px;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 23%, rgba(203,21,153,0.9931856899488927) 64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .education{
      margin-top: 10px;
      padding: 10px;
      height: auto;
      width: auto;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      box-shadow: 0px 0px 15px rgba(15, 15, 15, 0.9);
  }

  .education .box{
      height: 300px;
      width: 300px;
      justify-content: space-between;
      border: none;
      border-radius: 5%;
      box-shadow: 0px 0px 15px rgba(15, 15, 15, 0.9);
      transition: 500ms linear 0s;
      cursor: pointer;
      background: rgb(231,240,125);
      background: linear-gradient(90deg, rgba(231,240,125,0.93015332197615) 0%, rgba(124,197,218,0.9403747870528109) 42%, rgba(141,221,232,0.9420783645655877) 100%);
      color:black;
    }

  .education .box:hover{
  
    width: 350px;

  }
  .education .box1{
    height: 300px;
    width: 300px;
    justify-content: space-between;
    border: none;
    border-radius: 5%;
    box-shadow: 0px 0px 15px rgba(15, 15, 15, 0.9);
    transition: 500ms linear 0s;
    cursor: pointer;
    background: rgb(240,125,239);
background: linear-gradient(90deg, rgba(240,125,239,0.93015332197615) 0%, rgba(33,171,210,0.9403747870528109) 42%, rgba(250,166,186,0.9420783645655877) 100%);
    color:black;
  }

.education .box1:hover{

  width: 350px;

}
.achievemnts{
  margin-top: 10px;
  padding: 10px;
  height: auto;
  width: auto;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0px 0px 15px rgba(15, 15, 15, 0.9);

}
.image {
  height: 700px;
  width: 700px;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  -moz-box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.6);
-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(15, 15, 15, 0.8);
}